body{
    font-family: 'Poppins', sans-serif

}



.first-part-img{
    background-image: url(images/donation9.jpg);
    
    background-size: 1500px;
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
   
}


h1{
    font-size: 50px;
    text-align: center;
    color: aqua;
}
h3{
    text-align: center;
    color: rgb(250, 249, 249);
}
.donate-link-button{
    text-decoration: none;
    margin-left: 500px;
    color: whitesmoke;
    background-image: linear-gradient(orange,red);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
    
    
}

    



.h1{
    color: black;
}
.h3{
    color: black;
    text-align: center;
}
.second-part-box{
    display: flex;
    margin-left: 120px;
    
}
.box-shadow{
    box-shadow: 1px 2px 4px 1px gray;
    text-align: center;
    height: 70px;
    width: 120px;
    margin-left: 50px;
    padding-top: 40px;
    border-radius: 5px;
}
#second-box-tk{
    background-color: darksalmon;
    border: 5px solid red;
}