body{
    font-family: 'Poppins', sans-serif

}



.first-part-img{
    background-image: url(images/donation9.jpg);
    
    background-size: 1500px;
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
   
}


h1{
    font-size: 50px;
    text-align: center;
    color: aqua;
}
h3{
    text-align: center;
    color: rgb(250, 249, 249);
}
.donate-link-button{
    text-decoration: none;
    margin-left: 500px;
    color: whitesmoke;
    background-image: linear-gradient(orange,red);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
    
    
}

    



.h1{
    color: black;
}
.p{
    color: black;
    text-align: center;
}
.second-part-box{
    display: flex;
    margin-left: 120px;
    
}
.box-shadow{
    box-shadow: 1px 2px 4px 1px gray;
    text-align: center;
    height: 70px;
    width: 120px;
    margin-left: 50px;
    padding-top: 40px;
    border-radius: 5px;
}
#second-box-tk{
    background-color: darksalmon;
    border: 5px solid red;
}



.three-task{
    display: flex;
    
}
.three-task-help{
    box-shadow: 1px 2px 4px 1px gray;
    text-align: left;
    width: 400px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 40px;
    border-radius: 5px;

    
}

#food{
    background-color: aquamarine;

}
#shelter{
    background-color: bisque;

}
#education{
    background-color: darkkhaki;

}



.third-section{
    text-align: center;
}

.subscribe{
    width: 900px;
    height: 150px;
    margin-left: 120px;
    padding-top: 150px;
    padding-left: 10px;
    
    background-color: khaki;
    border-radius: 3px;
}
.subscribe-button{
    text-decoration: none;
    margin-left: 0px;
    color: whitesmoke;
    background-image: linear-gradient(orange,red);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}
.inputField{
    height: 35px;
    margin-left: 250px;
    padding-left: 100px;

}
.footer{
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: black;
}
.footer-p{
    color: whitesmoke;
}
    
